/*material colors:
primary: Green 500, #4CAF50
  Green 700, #388E3C
accent: Deep orange 200, #FF6E40*/

/*theme selectors:
core-toolbar: background-color
.subheader: color*/

html, body {
  height: 100%;
  margin: 0;
}
core-header-panel {
  height: 100%;
}
body{
  font-family: 'Roboto', Arial;
  font-weight: 400;
  font-size: 16px;
}

core-toolbar{
  background-color: #4CAF50;
  color: white;
  font-weight: 300;
}
paper-slider::shadow #sliderBar::shadow #activeProgress {
  background-color: #FF6E40;
}
paper-slider::shadow #sliderKnobInner {
  background-color: #FF6E40;
}
.secondary{
  font-size: 14px;
}

#settings-menu{
  background-color: white;
  padding-bottom: 8px;
}
.list-tile-single{
  height: 48px;
}
.list-tile-double{
  height: 72px;
}
.list-tile-triple{
  height: 88px;
}
.subheader{
  margin-left: 16px;
  color: #4CAF50;
  font-size: 14px;
}
.list-text{
  margin-left: 16px;
  margin-right: 16px;
}
.inline{
  width: 16px;
  margin-left: 4px;
  margin-right: 4px;
}
.list-secondary{
  margin-top: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
.list-control-single{
  margin-right: 16px;
}
.list-control-double{
  margin-right: 20px;
}
.list-input{
  width: 40px;
  margin-right: 16px;
}
.error{
  color: #F44336;
  font-size: 14px;
  text-align: right;
  margin-left: 16px;
  margin-right: 16px;
  height: 48px;
}
.inner-error{
  margin-top: auto;
  margin-bottom: auto;
}
paper-checkbox::shadow #ink[checked] {
  color: #FF6E40;
}
paper-checkbox::shadow #checkbox.checked {
  background-color: #FF6E40;
  border-color: #FF6E40;
}
paper-input-decorator /deep/ .focused-underline {
    background-color: #FF6E40;
}

html /deep/ #about-dialog::shadow #scroller {
  width: 400px;
}
html /deep/ .black-54 {
  color: rgba(0, 0, 0, 0.54);
}
html /deep/ p a{
  color: #FF6E40;
  text-decoration: none;
}
html /deep/ .link-image{
  width: 100px;
  height: 100px;
}
html /deep/ material-card{
  padding: 0;
}
html /deep/ #theme-picker material-card::shadow .content{
  width: 72px;
  height: 72px;
  border-radius: 2px;
}
html /deep/ #theme-picker material-card{
  margin-left: 8px;
  margin-right: 8px;
}
html /deep/ #theme-picker::shadow #scroller{
  padding-bottom: 32px;
  padding-top: 0;
}
html /deep/ #green-card{
  background-color: #4CAF50;
}
html /deep/ #indigo-card{
  background-color: #3F51B5;
}
html /deep/ #brown-card{
  background-color: #795548;
}
html /deep/ #theme-picker h2{
  font-size: 24px;
  font-weight: 300;
}
html /deep/ .white{
  color: white;
}